<hr>
<div class="footer">
<p><a class ="link" href='http://localhost:3000/joke'>New Joke</a>    <a class ="link" href='http://localhost:3000/allJokes'>Saved Jokes</a>   <a class ="link" href='http://localhost:3000/users'>Users</a></p>
<p>&copy; 2022  Sara Francis</p>
<p>COMP 2406 Fall 2022 - Carleton University</p>
</div>
