<h1 class="pageheader">Authenticate</h1>

  <label for="username" class="label">Username:</label>
  <input type="text" id="userField" class="box" name="username"><br>
  <label for="password" class="label"> Password:</label>
  <input type="password" id="passField" class="box" name="password"><br>
  <input type="submit" id="login" class="button" value="Log In">
  <input type="submit" id="register" class="button" value="Sign Up">
